body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: large;
    background: linear-gradient(to bottom, #7dadfe, #2043a3);
    height: 100vh;
    margin: 0;
    text-shadow: #414141 2px 2px 2px;
}

h1 {
    color: #ffffff;
}

#cta {
    font-size: 1.5rem;
    color: white;
    padding: 0 2rem;
}

#my-button {
    cursor: pointer;
    width: 10.625rem;
    height: 10.625rem;
    background-color: transparent;
    border: none;
    background-image: url('assets/logo-Nazareth-PB.png');
    background-size: cover;
    background-position: center;
}

#my-button:active {
    outline: none;
    width: 10.5rem;
    height: 10.5rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #414141;
    background-position: center;
}

#email-copied {
    display: none;
    color: white;
    font-size: 1rem;
}

#thanks {
    display: none;
    margin: 1rem;
    font-size: 3.75rem;
    font-weight: bold;
    color: white;
}

#etransfer {
    white-space: nowrap;
}