body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: large;
    background: linear-gradient(to bottom, #7dadfe, #2043a3);
    height: 100vh;
    margin: 0;
    text-shadow: #414141 2px 2px 2px;
}

h1 {
    color: #ffffff;
}

#cta {
    font-size: 32px;
    color: white;
    padding: 0 40px;
}

#my-button {
    cursor: pointer;
    width: 170px;
    height: 170px;
    background-color: transparent;
    border: none;
    background-image: url('assets/logo-Nazareth-PB.png');
    background-size: cover;
    background-position: center;
}

#my-button:active {
    outline: none;
    width: 169px;
    height: 169px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #414141;
    background-position: center;
}

#email-copied {
    display: none;
    color: white;
}

#thanks {
    display: none;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

#etransfer {
    white-space: nowrap;
}